@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width-screen: 96rem;
  --instagram-icon-background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* color: #fff; */
  /* background: linear-gradient(270deg,#18181b,#09090a); */
  /* background: theme('light.background'); */
  font-family: "Roboto", sans-serif;
}

 @layer base{
  body {
    @apply dark:bg-black bg-white dark:text-white text-black;
  }
} 

section {
  margin: 0 auto;
  padding: 0 5rem;
}

@media (max-width: 964px) {
  section {
    padding: 0 2rem;
  }
}

@media (max-width: 964px) {
  html {
    font-size: 85%;
  }
}